@charset "UTF-8";


body {
    background: url('../imagens/fundoescolar.jpg') top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

main {
    max-width: 1000px;
    min-width: 150px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
}

section#tema img{
    width: 50px;
    margin: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#tema {
    text-align: right;
}

section#tema img:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
    transition: transform .3s, border 1s;
}

h1 {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#introdução {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

#p1 {
    text-align: justify;
    padding: 20px;
}